[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
bind-address		= 127.0.0.1
key_buffer_size = 16M
max_allowed_packet = 16M
table_open_cache = 256
max_connections = 1024
max_connect_errors = 10000
sort_buffer_size = 32M
read_buffer_size = 32M
myisam_sort_buffer_size = 1M
thread_cache_size = 256
query_cache_size = 0
query_cache_type = 0
tmp_table_size = 64M
max_heap_table_size = 32M
skip-name-resolve
character-set-server = utf8mb4
default-storage-engine=InnoDB
transaction_isolation = REPEATABLE-READ
thread_stack		= 192K

query_cache_limit = 16M
query_cache_size = 32M

#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
#general_log_file        = /var/log/mysql/mysql.log
#general_log             = 1
#
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log
#
# Here you can see queries with especially long duration
#
# ###############################
# RECORD SLOW QUERY
# ###############################
slow_query_log_file = /var/log/mysql/mysql-slow.log
slow_query_log = 0
long_query_time = 0.1
log_queries_not_using_indexes

#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

innodb_strict_mode
# innodb_data_file_path = ibdata1:10M:autoextend
# innodb_data_home_dir = /var/lib/mysql
# innodb_file_format = Barracuda
innodb_file_per_table
innodb_buffer_pool_size = 2G
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_thread_concurrency = 8
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 128M
innodb_log_buffer_size = 8M
innodb_log_files_in_group = 2
innodb_lock_wait_timeout = 120
loose-innodb_large_prefix = 1
loose-innodb_print_all_deadlocks = 1
innodb_io_capacity = 200
innodb_flush_neighbors = 0

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
#no-auo-rehash	# faster start of mysql but no tab completition
